<nav>
    <h1>WebDeveloper</h1>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Home</a></li>
    </ul>
    <footer><p>desinged by akshay | 🖤 </p></footer>
</nav>